/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
    max-width: 64rem;
    margin: auto;
    }

    nav ul li a {
        padding: .6rem 1rem;
    }

    nav {
        max-width: 64rem;
        background-color: $primaryColor;
    }

    .full-width-nav {
       background-color: $primaryColor;
        
    }

    header {
        max-width: 64rem;
    }

    main {
        margin: auto;
        max-width: 64rem;
    }

    div.familyGallery figure {
        flex-basis: 21%;
        margin: 1rem 2%;
    }
    
    div.hover-cards {
        column-count: 4;
    }

    footer {
        @for $i from 0 through 12 {
            $w:($i / 12) * 100%;
            .large-#{$i} {flex-basis: $w;}	
        } 
    }
    
} /*end large */